.ColorBox {
  width: 20%;
  height: 25%;
  margin: 0 auto;
  /* Inline-block elements accept both width and height properties */ 
  display: inline-block;
  /* Positioning relatively means positioning relative to the element's normal (flow) position - Enables top/right/bottom/left properies */
  position: relative;
  cursor: pointer;
  /* When styling CB-see-more, the boxes get spaced out - this line fixes that */
  margin-bottom: -4px;
}

.CB-copy-button {
  width: 100px;
  height: 30px;
  /* Positioning absolutely in a positioned parent means positioning relative to that parent */
  position: absolute;
  display: inline-block;
  /* Centering relative to parent */
  top: 50%;
  left: 50%;
  /* Offsetting the button's own width and height for proper centering*/
  margin-left: -50px; /* 50px = width/2 */
  margin-top: -15px;  /* 15px = height/2 */
  /* Other styling */
  border: none;
  outline: none;
  background: rgba(255,255,255,0.3);
  font-size: 1rem; /* Units of 'rem' are referenced from 'root font size.' Unlike 'em' units, these don't get smalled with each nested element */
  line-height: 30px; /* Same line height as the element itself: centers text vertically */
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  /* Hide button until hover */
  opacity: 0;
}

.ColorBox:hover .CB-copy-button {
  opacity: 1;
  transition: 0.5s;
}

.CB-box-name {
  /* Positioning relative to positioned parent */
  position: absolute;
  /* Take up whole bottom portion of parent and align to the bottom-left corner */
  width: 100%;
  left: 0px;
  bottom: 0px;
  /* Other styling */
  padding: 10px;
  color: black;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 0.75rem;
}

.CB-see-more {
  /* Positioning relative to positioned parent */
  position: absolute;
  /* Align to the bottom-left corner */
  right: 0px;
  bottom: 0px;
  /* Other styling */
  background: rgba(255,255,255,0.3);
  border: none;
  font-size: 0.75rem; /* Units of 'rem' are referenced from 'root font size.' Unlike 'em' units, these don't get smaller with each level of nesting */
  width: 60px;
  height: 30px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  line-height: 30px; /* Same line height as the element itself: centers text vertically */
  /* Hide button until hover */
  opacity: 0;
}

.ColorBox:hover .CB-see-more {
  opacity: 1;
  transition: 0.5s;
}